<!DOCTYPE html>
<head>
</head>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $.ajax({
        url : 'http://localhost:8080/all',
        type : 'get',
        headers: {
          "token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIyNiIsImV4cCI6MTU1NjM1MTU1OX0.queWCnPAasmX0Q-blSyoNnG_EuUouC1uh0GJZpl_ta4"
        },
        data : '',    // type: 默认返回的是头条，可以选择的，这个。
        dataType : 'json',
        success : function(msg){
            console.log(msg)
        },
        error : function(err){
            alert('通信失败');
        }
    });
</script>

<body>
</body>

</html>
